<!DOCTYPE html>
<html class="uk-background-muted">
    {% include 'header.html' %}
    <body>
      {% include 'navbar.html' %}
      <div class="uk-container">
        <div uk-grid uk-child-width-expand@s>
            <div class="uk-width-2-3@m">
                <div class="uk-card uk-card-default uk-card-body uk-card-small">
                  <span class = "uk-text-meta" id="round"></span>
                  <h2 id ="word">Wait for all players to join!</h2>
                    <input class="uk-input" type="text" id="definitioninput" placeholder="Make up a definition...">
                    <div class = "uk-margin">
                      <button class="uk-button uk-button-primary uk-disabled uk-hidden" disabled id="submitdefinition">Submit Definition</button>
                      <button class="uk-button uk-button-primary" id="startgame">Start Game</a>
                      <button class="uk-button uk-button-primary uk-hidden" id="nextround">Next Round</button>
                      <button class="uk-button uk-button-primary uk-hidden" id="gamesummary" href="#modal-summary" uk-toggle>View Game Summary</button>
                    </div>
                </div>
                <br>
                <div class="uk-grid" id="definitions">

                </div>
            </div>
            <div class="uk-width-1-3@m">
                <div class="uk-card uk-card-default uk-card-body" id="rightbox">
                  <div class="uk-margin">
                    <div id = "leaderboard"></div>
                    <div id = "messagebox uk-margin">
                      <div id = "chatbox">
                        <ul class="uk-list" id = "chatmessages">
                            <li class = "uk-text-meta">Welcome <u id="player_name">{{player_name}}</u> to <u>{{game_name}}'s</u> room. <u>{{game_type}}</u> dictionary selected.</li>
                        </ul>
                      </div>
                        <input class="uk-input" type="text" id="sendmessage" placeholder="Send a message...">
                    </div>
                  </div>
                </div>
                <br>
            </div>

            <div id="modal-summary" class="uk-flex-top" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div id = "summarybody"></div>
                </div>
            </div>

            <audio src = "../static/sounds/submitsound.wav" id="submitsound" class="uk-hidden"></audio>
            <audio src = "../static/sounds/votesound.wav" id="votesound" class="uk-hidden"></audio>
    </body>
    <script src = "../static/js/sockets.js"></script>
</html>
